.wrapper{
    margin: 0;
    height: 97vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 40px auto 30px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
    background-color: black;
}

body{
    background-color: black;
}

header{
    grid-area: "header";
    background-color: black;
}

.pagenav{
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    display: grid;
    width: 25%;
    list-style: none;
    background-color: black;
    text-align: center;
    height: 40px;
    font-family: tahoma, verdana, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(64, 173, 224);
    border: 1px solid rgb(65, 65, 65);
    padding: 8px;
}

h1{
    color: rgb(64, 173, 224);
    margin: 0;
    font-size: 400%;
    font-family: tahoma, verdana, sans-serif;
}

.altmain h2{
    grid-column: 2/3;
}

h2{
    text-align: center;
    padding: 3px;
    color: rgb(64, 173, 224);
    font-size: 350%;
    margin: 0;
    font-family: tahoma, verdana, sans-serif;
}

h3{
    color: rgb(64, 173, 224);
    font-family: tahoma, verdana, sans-serif;
}

.kontakt{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh 20vh;
}

.kontakt h2{
    grid-column: 1/3;
}

.kontakt section{
    margin-right: 5%;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33vw 60px auto;
    overflow: auto;
    padding: 0;
}

.altmain{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 100px auto auto 100px;
    background-color: black;
    gap: 5%;
}

.Tutorial{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    gap: 2%;
    overflow: auto;
}

.Tutorial h2{
    grid-column: 1/4;
}

.Tutorial h3{
    text-align: center;
    font-size: x-large;
}

.Tutorial section{
    height: 30vh;
    width: 25vw;
    text-align: center;
    margin: auto;
    margin-top: 0;
}

.alt{
    margin: 0;
    height: 97vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 40px auto 30px;
    grid-template-columns: 15vw auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidenav"
    "main"
    "footer";
    background-color: black;
}

.kontakt img{
    padding: 0;
    margin: auto;
    width: 40vh;
    border-radius: 20px;
}

.toppnav{
    grid-area: nav;
    grid-column: 1/3;
    font-family: tahoma, verdana, sans-serif;
}

iframe{
    width: 560px;
    height: 425px;
}

.Tutorialmain{
    grid-row: 3/4;
    overflow: auto;
    display: grid;
    grid-template-columns: 85vw;
    grid-template-rows: 20vh auto;
    margin: 0;
}

textarea


.Tutorialmain section{ 
    grid-column: 1/3;
    max-width: 85vw;
}

.sidenav{
    grid-row: 3/4;
}

.sidenav ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidenav li{
    display: grid;
    height: 10%;
    margin: 7%;
    width: 18ch;
    font-family: tahoma, verdana, sans-serif;
}

form{
    color: rgb(64, 173, 224);
    font-family: tahoma, verdana, sans-serif;
}

.altmain section{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px auto 40px;
}

.bakgrund{
    grid-column: 1/3;
    max-width: 98vw;
    height: 33vw;
    background-color: rgb(36, 36, 36);
    grid-row: 1;
    padding: 0;
    border: 0;
}

img{
    max-width: 50vw;
    padding-right: 5px;
    padding-top: 60px;
}

.nyhetsbild{
    margin: auto;
}

.nyhetstext{
    text-align: center;
}

.nyhetstitel{
    text-align: center;
    color: rgb(64, 173, 224);
    font-size: x-large;
    margin: 0;
}

p{
    padding: 7px;
    color: rgb(64, 173, 224);
    font-size: large;
    margin: 0;
    font-family: tahoma, verdana, sans-serif;
}

section{
    border: 2px white solid;
    border-radius: 5px;
}
